.game {
    display: flex;
    padding: 1rem;
    & .game-board {
        flex: 1;
        display: flex;
        margin-right: 1rem;
        flex-direction: column;
        & .board-container {
            display: flex;
            justify-content: center;
        }
    }
    & .game-info {
        flex: 1;
        & .btn-group {
            height: 42px;
            margin-bottom: 12px;
        }
    }
}
